<div class="container-fluid">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Coding Interface</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a>Coding as <%=coder.name%></a></li>
	        <li><a href="../coding">Change Coder</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>

<div class="container">

	<nav class="row">
		<div class="col-md-12">
			<button id="nav-start" class="btn btn-small">&lt;&lt;</button>
			<button id="nav-backward" class="btn btn-small">&lt;</button>
			<!--<input type="text" class="input goto">-->
			<span><strong>&nbsp;<%=activeModel%>&nbsp;</strong></span>
			<button id="nav-forward" class="btn btn-small">&gt;</button>
			<button id="nav-end" class="btn btn-small">&gt;&gt;</button>
			<span><strong>On contract <%=activeModel%> of <%=totalModels%></strong></span>
		</div>
	</nav>

	<div class="row">
		
		<div class="col-md-6">
			<h3>Original Data</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td><strong>Contract Title</strong></td>
						<td><%=contract.title%></td>
					</tr>
					<tr><td><strong>Description</strong></td><td>Lorum ipsum...</td></tr>
					<tr><td><strong>District</strong></td><td>One of them</td></tr>
					<tr><td><strong>etc</strong></td><td>...</td></tr>

				</tbody>
			</table>

			<h3>Documents</h3>
			<ul>
				<li><a href="#">Document Link 1</a></li>
				<li><a href="#">Document Link 2</a></li>
				<li><a href="#">Document Link 3</a></li>
				<li><a href="#">etc.</a></li>
			</ul>
		</div>

		<div class="col-md-6">
			<h3>Coding</h3>
			<form>
				<label for="title">Title:&nbsp;&nbsp;&nbsp; </label><input name="title" type="text" placeholder="contract title">
				</br></br>
				<label for="type">Type:&nbsp;&nbsp;&nbsp;</label>
				<select name="type">
					<option>Road</option>
					<option>Hospital</option>
				</select>
				</br></br>
				<p>etc...</p>
			</form>
		</div>

	</div>
</div>